# LaTeX 编译中间文件
*.aux
*.bbl
*.bcf
*.blg
*.ent
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.lof
*.lot
*.idx
*.ilg
*.ind
*.nav
*.snm
*.vrb
*.xdv
*.spl
*-blx.bib

# 系统
.DS_Store
Thumbs.db
